$primaryColor:#39a3f4;
$primaryTextColor:#ffffff;
$greenColor:#6ebc3b;

@import '../sass/theme/_theme_light.scss';

body {
  .ui-steps {
    position: relative;

    .ui-steps-item {
        background-color: transparent;
        text-align: center;
        width: 20%;

        .ui-menuitem-link {
            display: inline-block;
            text-align: center;
            background-color: transparent;
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;

            .ui-steps-number {
                display: inline-block;
                background-color: $contentBgColor;
                border-color: $contentBorderColor;
                color: $textColor;
                @include border-radius(50%);
                padding: 0.5em;
                font-size: 1em;
                // color: $primaryTextColor;
                position: relative;
                top: 1em;
                margin-bottom: 1em;
                // border: 1px solid lighten($primaryColor,15%);
                width: 2.5em;
                height: 2.5em;
            }

            .ui-steps-title {
                display: block;
                margin-top: 0.45em;
                color: $textSecondaryColor;
            }
        }

        &.ui-state-disabled {
            @include opacity(1);
            .ui-steps-number {
                background-color: $contentBgColor;
                border-color: $contentBorderColor;
                color: $textColor;
            }
        }

        &.ui-state-default {
          cursor: default;
          .ui-menuitem-link {
            cursor: default;
          }
        }

        &.ui-state-highlight {
            .ui-steps-number {
                background-color: $primaryColor;
                color: $primaryTextColor;
                border: 1px solid lighten($primaryColor,15%);
            }

            .ui-steps-title {
                font-weight: 700;
                color: $textColor;
            }
        }

        &.ui-state-active {
            .ui-steps-number {
                background-color: $greenColor;
                color: $primaryTextColor;
                border: 1px solid lighten($greenColor,15%);
            }

            .ui-steps-title {
                color: $textColor;
            }
        }

        &:last-child {
            .ui-menuitem-link {
                display: block;
            }
        }
    }

    &:before {
        content:' ';
        border: 1px solid $contentBorderColor;
        width: 100%;
        top: 45%;
        left: 0;
        display: block;
        position: absolute;
    }
  }

  .login-wrapper {
    .login-container {
      input {
        &.has-danger {
          border-color: #EF5350;
        }
        &.has-success {
          border-color: #6ebc3b;
        }
      }
    }
  }

  input, select {
    &.has-danger {
      border-color: #EF5350;
    }
  }

  .custom-select {
    width: 100%!important;
    background-color: white;
    height: 30.38px;
  }
}

label.required {
    position: relative;
}
label.required::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    position: absolute;
    top: 11px;
    right: -15px;
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}