<div class="body-container">
  <div class="ui-g">
      <div class="ui-g-12 ui-lg-4 left-side">
          <img src="assets/layout/images/logo.png" alt="apollo-layout" class="logo" />
          <h1>Online Admission</h1>
          <h2>Session 2018-19</h2>
          <p>
            If you have already registered for admission, then <a routerLink="/">click here</a>.
          </p>
      </div>
      <div class="ui-g-12 ui-lg-8 right-side">
          <div class="declaration-wrapper">
              <div class="declaration-container">
                  <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                      <p-panel [toggleable]="false">
                        <p-header>Declaration</p-header>
                        <div>
                            No sale aeterno cum, eam habeo luptatum cu. Cum ne dicam omnium adolescens. Sed assum fabellas ea, duo dolore corrumpit ne. Fierent efficiantur et usu. Numquam mediocritatem at pro, pri an vide scaevola evertitur.

                            In viris accusam convenire nec. Mel ipsum idque pertinacia id, no denique omnesque delicata pri. Quo quando ancillae ex. Facer animal aliquando ex per, doctus bonorum duo no, quo cu legendos consetetur. Nec ea tempor accumsan assentior, sit equidem utroque appellantur ex. An elitr possit dicunt vis.

                            No per nostro eirmod nostrum, has laboramus definitionem ne, at essent epicuri usu. Vel laudem ubique mediocrem in. Ne idque nominati imperdiet pro, justo aperiri persius cu mel. Homero evertitur interesset ea mei. Everti tamquam splendide in eam, an pri solum laboramus voluptaria. Ei purto debitis honestatis sed, molestie platonem nec id.

                            Errem accusam omnesque ex has. Dicam convenire mei id, sed labores theophrastus eu. Euismod intellegebat mea at. Posse paulo ex est. Ius ut dicam iuvaret fuisset, cu mea audire inimicus posidonium, eleifend splendide id qui.

                            Id aeque patrioque prodesset sed, cum an munere graeco voluptua, verear instructior ea mel. Et appetere lobortis perpetua eum, ut eripuit moderatius voluptatibus his. Ad magna populo utroque usu. Mundi vivendum cum id, vel persecuti constituto ne. Utroque alienum ea mei. Ex doming fierent mei, maiorum intellegam cu usu.

                            Eum ut magna mollis sententiae, ex lorem accusata persecuti has. Has quidam suscipiantur at, eu nostrum convenire mei. Sonet temporibus vituperatoribus has ut, ex quo lucilius referrentur accommodare, nobis viderer deseruisse te vel. Eam purto mutat forensibus te, cu qui bonorum constituto philosophia, id sed facete delenit sadipscing. Vivendo noluisse pertinax mel te. Nobis tempor democritum mei ei, brute alienum fastidii qui cu.

                            Amet sententiae percipitur eu eam, vocent nostrum persecuti eu nec. Ei eius porro propriae vis. Usu ex nobis lobortis evertitur, mea cu quem convenire. An vis aliquip voluptua pertinax, pri in wisi meis, et nec nominati scripserit consequuntur. Erant aliquip meliore mea eu. Qui eu quot intellegat adipiscing. Ad eam fastidii voluptua mnesarchum.

                            Ei eos ferri malis postulant. Malis latine tibique ei duo, maiorum dignissim cu nec. Eum ubique iriure consequuntur cu, te meliore habemus pro, alii appareat eloquentiam ad mel. Eu primis quaeque comprehensam vel, at nullam officiis invenire eum.

                            Et mei elit rebum dicta, no vix vidit dicta oblique. Ex tollit eirmod cotidieque mei, nostrum consequat duo cu. Alterum propriae splendide ad vix. Eos no salutatus efficiantur, at everti appetere qui. An laoreet oporteat iudicabit ius, no laudem denique lucilius his. Mei atqui aeque ea, ei nusquam eloquentiam vis, in nam legere facilisi.

                            Nibh autem cu cum. Est ea invidunt perfecto honestatis, no nam rebum facilisi expetenda. Et nemore vivendum sea, veniam volumus singulis usu id. Ad ubique delectus vix. Lorem viris utamur te vis, errem posidonium ei usu. Eum te modo soleat, sit timeam lobortis no. Hinc neglegentur sea eu.
                        </div>
                        <p-footer>
                          <button pButton type="button" label="I accept all the above conditions" class="indigo-btn"></button>
                        </p-footer>
                      </p-panel>

                    </div>
                  </div>
              </div>
          </div>
          <!-- <div class="copyright">Copyright &copy; 2018, Hinnovation. All rights reserved.</div> -->
      </div>
  </div>
</div>
